body {
  background-color: #f7f7f7;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
#energy-info div { font-size: 0.9rem; }

#solar-forecast .forecast-item { min-width: 70px; }
#solar-forecast .forecast-toggle { cursor: pointer; }
#solar-forecast {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}

footer a {
  text-decoration: none;
}